<div class='row'>
	<% if config_portada(:active) %>
		<%= render partial: '0help/tema_ayuda/0h_ilustracion', locals: {objeto: objeto_tema_ayuda('portada'), class_image: config_portada(:clase), size: config_portada(:size) } %>
	<% end %>
</div>
