<%= render partial: 'help/0help/tema_ayuda/portada' %>
<%= render partial: 'help/0help/tema_ayuda/init_elementos' %>

</br></br>
<h4 class='text-warning text-center'>ADVERTENCIA</h4>
<%#= image_tag 'Proyecto ID.jpg', class: "mx-auto d-block" %>
<h6 class='text-warning text-center'>La educación puede causar una severa aversión al conocimiento en los niños, suministrar con criterio!</h6>
</br>
